# Project cache
**/__pycache__
**/.mypy_cache

# Development environments
**/.idea
**/.vs
**/.vscode
**/.venv

# Docker configuration
**/.dockerignore
**/Dockerfile
**/compose.yaml

# Git files
**/.git
**/.gitattributes
**/.gitignore

# Python packaging artifacts
**/*.egg-info
**/dist
**/build
