# Project cache
**/__pycache__
**/.*[_-]cache

# Development environments
**/.idea
**/.vs
**/.vscode
**/.venv

# Configuration files
**/*?config.ini

# Python packaging artifacts
**/*.egg-info
**/dist
**/build
