{% extends "base-template.html" %}

{% block title %}Custom Tide Report{% endblock %}

{% block content %}
{% for station in station_list %}
<div>
    <h3>ID# {{ station.id_ }}: {{ station.name }}</h3>
    <a href="https://www.google.com/maps/search/?api=1&query={{ station.latitude }},{{ station.longitude }}"><img
            src="data:image/png;base64,{{ station.map_image }}"></a>
    <div>
        <ul>
            {% for tide in station.tide_events %}
            <li>{{ tide }}</li>
            {% endfor %}
        </ul>
    </div>

</div>
{% endfor %}
{% endblock %}
